
.quiz-start-description {
    align-self: center;
    justify-content: center;
}

.quiz-main-container {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 650px;
    
}

.header-container {
    flex: 0 1 auto;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.main-header {
    color: #343434;
    font-weight: 700;
}

.progress-container {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.state-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.state-box > p {
    color: #343434;
    padding: 0;
    margin-top: 10px;
}

.arrow-box {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
}

.arrow-icon {
    position: relative;
    width: 84px;
    height: 15px;
    padding: 0;
    margin-right: 49px;
    top: -10px;
    left: 90px;
}

.state-number {
    position: absolute;
    top:5px;
}

.question {
  padding-top: 50px;
}
.question-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 50%;
    padding-top: 50px;
}

/*{.next-button {
    position: absolute;
    align-self:flex-end;
}}*/

.prev-button {
    position: absolute;
    align-self:flex-start;
    margin-top: 40px;
}

.question-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 50px;
    border-width: 1.5px;
    border-color: #FF8644;
    width: 40%;
    height: 50px;
    margin-bottom: 20px;
}

.question-box:hover, .prev-button:hover {
    cursor: pointer
}

.question-box:hover {
    background-color: #FFDBCB;
}

.treatment-container {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 17%;
    background-color: #F9EBE0;
    flex-shrink: 0;
}

.treatment-container > h1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.treatment-groupbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 25%;
}

.treatment-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4D4D4D;
    border-radius: 5px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    margin: 0 5px 5px 0;
}

.treatment-box p {
    color: white;
}

